

<nav>
<br /><br /><br />
<ul class="nav nav-pills nav-stacked">
  <li class="nav-header">Options</li>
  
  

   	<li class="active"><%= link_to "Sign up", "#" %></li>
  	<li class="active"><%= link_to "Log In", "#" %></li>
  
  
  

</ul>
</nav>
