<title>We welcome your feedback</title>
<div class="hero-unit">
<h3>Contact AFRAH | OLA | NAWAL</h3>
<p>Unfortunately, the Qatar Animal Treatment Services is not a real veterinarian website, but rather a sample project for programming students at Carnegie Mellon University in Qatar. We are sure that you wanted treatment for your pets from the most exquisite veterinarians on the planet, but that's how it goes sometimes. If you are bitterly disappointed (and quite honestly, you should be) and want to grouse to someone, here's the contact info:


<address>
  <strong>Twitter, Inc.</strong><br>
  795 Folsom Ave, Suite 600<br>
  San Francisco, CA 94107<br>
  <abbr title="Phone">P:</abbr> (123) 456-7890
</address>
 
<address>
  <strong>AFRAH HASSAN</strong><br>
  <a href="mailto:#">afrahhassancmu@gmail.com</a>
</address>

<div>
